@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --color-base: #ff533d;
  --color-secundary: #0557b3;
  --color-black: #000000;
  --color-light: #f9f7f7;
  --color-modal-dark: #000000be;
  --color-modal-light: #ffffffbe;
  --transparent-color: rgba(255, 255, 255, 0.6);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ul {
  list-style: none;
} */
a {
  text-decoration: none;
  color: white;
}
img {
  max-width: 100%;
}
/* icono whatsapp */
.bxl-whatsapp-square {
  color: #25d366;
  font-size: 5rem;
}
.floating-logo {
  animation: float 6s ease-in-out infinite;
}

/*--- floating buttons ---*/

.floating-button {
  margin: 20px;
  border: none;
  font-size: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
}

.floating-button-container.floating {
  animation-name: float;
  animation-duration: 0, 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
